

nav.theme-dark, nav.theme-dark ul.links-wrapper.active { background-color: #0f172a }

header.theme-dark   {   background:	rgb(0, 128, 128)
}

header.theme-dark  h1 { color: var(--green-500); }

section.theme-dark   { background-color: #0f172a }

footer.theme-dark   { background-color: #0f172a }



h3 { 
    font-family: "Roboto Condensed", sans-serif;
    font-weight: 400;
    font-style: normal;
    line-height: 1.8 }


h2{
        font-family: "Nunito Sans", sans-serif;
        font-weight: 400;
        font-style: normal;
        }

h1{
            font-family: "Orbitron", sans-serif;
            font-weight: 400;
            font-style: normal;
          }

          header.theme-dark .badge{
            background-color: #48bb78;
            color: #008080;
            font-size: 2rem;
          }


          p { 
            font-family: "Roboto Condensed", sans-serif;
            font-weight: 400;
            font-style: normal;
            } 